.outer-landing-container{
  display: flex;
  flex-direction: column;
}
.buttons{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.landing-page-btn{
  font-size: 1.2rem;
  background: transparent;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  color: #333333;
  border: 2px solid #FFB400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button-link{
  text-decoration: none;
}
.button-text{
  margin-left: 5px;
}
.landing-page-btn:hover{
background-color: #FFB400
}
.h1-styles {
  font-size: 8rem;
  font-weight: 800;
  line-height: 10rem;
}
.animation{
    position: relative;
    animation: swift 3s ease;
}
#dark{
  color: white;
  background-color: transparent;
}

@keyframes swift{
    0%{
        opacity: 0;
        transform: translateY(100%)
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

#comma{
    color: #FFB400;
}
.center-text {
  display: flex;
  justify-content: space-between;
}
.center-text p {
    display: flex;
    align-items: center;
  font-size: 1.25rem;
}
@media only screen and (max-width: 1000px) {
  .h1-styles{
    font-size: 6.5rem;
    line-height: 9rem;
  }
  
}
@media only screen and (max-width: 600px){
  .h1-styles{
    font-size: 5rem;
    line-height: 7rem;
  }
  .center-text p{
    margin-left: 1rem;
  }
  .buttons{
      flex-direction: column;
      align-items: center;
  }
  .landing-page-btn{
    font-size: 1rem;
    width: 200px;
    justify-content: space-evenly;
  }
  .button-text{
    margin: 0;
  }
  .button-link{
    margin: 10px 0;
  }
}

@media only screen and (max-width: 450px) {
  .h1-styles{
    font-size: 3rem;
    line-height: 4.5rem;
  }
  .center-text p{
    font-size: 1rem;
  }
}