.projects-container {
  display: flex;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
/* dark mode */
#darkmode{
  color: white;
  background-color: #242323;
  transition: 0.8s ease-in-out;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 3rem;
  background-color: white;
  border-radius: 35px;
  max-width: 25%;
  transition: 0.8s ease-in-out;
  box-shadow: 0.2rem 0.4rem 12rem rgba(0, 0, 0, 0.08);
  animation: swift-up 2s ease-in;
}
.project-image{
    border-radius: 15px;
    max-width: 100%;
    box-shadow: 2px 2px 15px #f0f0f0;
}
.project-name{
    margin: 18px 0px 5px 0;
}
.tech-stack{
    font-size: 1rem;
    text-align: center;
}
.project-description {
    font-size: 0.9rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
}
.projects-2 {
  animation: swift-down 2s ease-in;
  margin-top: 10rem;
}

@keyframes swift-up {
  0% {
    opacity: 0.7;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes swift-down {
  0% {
    opacity: 0.7;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
}
#live-link {
  background-color: #ffb400;
}
#github {
  background-color: #817cf2;
}
@media only screen and (max-width: 1500px) {
    .project{
        width: 500px;
    }
}
/* tablets */
@media only screen and (max-width: 1000px) {
  .projects-container {
    width: 100vw;
    margin: 2rem 0;
    flex-direction: column;
  }
  .project {
    margin: 0;
    max-width: 70%;
    animation: swift-right 3s ease-in;
  }
  .project-image {
    width: 80%;
  }
  .projects-2 {
    margin: 3rem 0;
    animation: swift-left 3s ease-in;
  }

  @keyframes swift-left {
    0% {
      opacity: 0.7;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes swift-right {
    0% {
      opacity: 0.7;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}
